.tick {
    color: black;
    vertical-align: middle;
    padding: 0px;
    border-radius: 50px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}

.playerCard {
    width: 200px;
    border: 0px;
}

.name {
    text-shadow: 0px 0px 1px black;
}

.steam-interact {
    color: white;
    text-align: center !important;
    vertical-align: middle;
    font-size: 12px !important;
    width: 100px;
    height: 30px !important;
    margin: 1px;
    border: none;
    background: linear-gradient(45deg, #dd8eff,#5f25ff)!important;
    transition: all .25s ease;opacity:.7;

    box-shadow: 
    0 0 5px 1px #b355ff,
    0 0 5px 1px #dfbbee;
    
}

.steam-interact:hover {
    background: linear-gradient(45deg,#dd8eff,#702df9) !important;
    transition: all .25s ease !important;
    opacity: 1 !important;

    
}

.playerCard hr {
    padding: 0px;
    margin: 3px
}

.player-btn {
    text-align: left !important;
    vertical-align: middle;
    color: black;
    font-style: italic;
    text-shadow: 0px 0px 1px black;
    margin-left: 5px;
    margin-right: 5px;
    

    outline: none;
    padding: 0px;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 2px;
    font-size: 12px;
    width: 180px;
    height: 25px;
    padding-left: 5px; 
    box-shadow:    
            0 0 2px 1px rgb(255, 255, 255);
}

.player-btn:hover, .player-btn::after, .player-btn:focus, .player-btn:active {
    text-shadow: 0px 0px 3px gold;
    color: gold !important;
    background-color: #22211f !important;

}
